html {
	font-family: Helvetica, Arial, sans-serif;
	line-height:1.5;
	font-size:1em;
}

html, body {
	height:100%;
    background: #3f1874;
}


@keyframes slide {
    from {
        background-position: left bottom;
    }

    to {
        background-position: 100% bottom;
    }
}

h1 {
    font-family: sans-serif;
    font-family: cursive;
    font-size: 50px;
    color: white;
    font-weight: 300px;
    text-align: center;
}

#gif-area {
    padding: 10px;
    margin: 1.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gif-area .col {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

#gif-area .col img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.input {
	position:relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, #030e14, #7c1bea);
	padding: 3px;
	display: inline-block;
	border-radius: 9999em;
    text-align: center;
    color:#ccc;
}

input {
	font-family: inherit;
	line-height:inherit;
	min-width:12em;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.gif-container {
    position: relative;
}

#suggestions-container {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    display: none;
}

.suggestion {
    padding: 8px 16px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f1f1f1;
}

#button-container {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
}